@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Roboto+Condensed:wght@400&display=swap');
.h-container {
    width: 100%;
    height: fit-content;

    a {
        text-decoration: none;
        color: #000;
    }

    .h-top-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid rgb(159, 158, 158);

        .left-side {
            display: flex;
            margin-left: 40px;
            align-items: center;

            .i-1 {
                margin-left: 25px;
                padding: 10px;
                font-size: 14px;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .right-side {
            display: flex;
            align-items: center;
            margin-right: 40px;

            .i-2 {
                display: flex;
                align-items: center;
                margin-left: 25px;
                padding: 10px;
                font-size: 14px;
                select{
                    background-color: inherit;
                    border: none;
                }
                .flag-icon {
                    
                    img {
                        border-radius: 50%;
                        width: 25px;
                        height: 25px;
                    }
                }

                i {
                    margin-right: 5px;
                }
            }
        }
    }
    .h-bottom-bar{
        display: flex;
        flex-direction: row;
        align-items: center;
        .h-logo{
            font-family: 'Koulen', cursive;
            font-family: 'Roboto Condensed', sans-serif;
            display: flex;
            align-items: center;
            font-size: 30px;
            font-weight: 600;
            padding: 10px;
            margin-left: 4.2vw;
            i{
                padding-top: 20px;
            }
        
        }
        
    }
    .h-searchBar{
        margin-left: 3vw;
    }
    .user-stuff{
        display: flex;
        margin-left: 2vw;
        .i-3{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 3vw;      
            color: rgb(88, 87, 87);
            &:hover{
                cursor: pointer;
            }      
        }
    }
    .quickSearch{
        background-color: #F8F8F8;
    }
}